@{
    string name = Context.Request.HttpContext.Session.GetString("name");
    string id = Context.Request.HttpContext.Session.GetString("count");

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doctor-PC -Admin</title>
    <link href="~/assest/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assest/css/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/assest/css/fonts.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/assest/css/signup.css">
    <link rel="stylesheet" href="~/assest/css/signup.css">

    <link href="~/assest/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assest/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/assest/css/slide-menu.css" rel="stylesheet" type="text/css">
    <link href="~/assest/css/app-styles.css" rel="stylesheet" type="text/css">

    <link href="~/assest/css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="~/assest/css/magnific-popup.css" type="text/css" rel="stylesheet" media="screen">
    <link href="~/assest/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen">
    <script async src="~/assest/js/gtm.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="~/assest/js/common.js" type="text/javascript"></script>
    <script src="~/assest/js/api.js"></script>

    <link href="~/assest/images/Logonameclr.png" rel="icon">
    <script src="~/assest/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="~/assest/js/moment.js" type="text/javascript"></script>
    <script src="~/assest/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CL7S79LJE9"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/assest/js/api.js"></script>

</head>
<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6Z4WT6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="master-head">
        <div class="layout-fixed">
            <div class="master-head-wrapper">
                <div class="header-start">
                    <div class="brand-logo">
                            <img src="~/assest/images/Logonameclr.png" alt="Logo">
                    </div>
                </div>
                <div class="header-end">
                    <div class="d-flex justify-content-end cta-buttons">
                        <ul class="secondary-links">


                            <li class="user-links">
                                <!--<a asp-controller="users" asp-action="">LogIn</a>-->&nbsp; &nbsp;
                                <a asp-controller="Home" asp-action="LogOut">LogOut</a>
                            </li>
                            <li><a asp-controller="Home" asp-action="Track">Track My Order</a></li>
                        </ul>
                    </div>

                    <div class="d-flex justify-content-end align-items-center">
                        <ul class="primary-nav">
                            <li><a class="text-decoration-none"><b>Welcome @name</b></a></li>
                            <li><a asp-controller="Product" asp-action="Index">Manage Products</a></li>
                            <li><a asp-controller="Users" asp-action="Index">User Manage</a></li>
                            <li><a asp-controller="Home" asp-action="Index">User Home Page</a></li>
                            <li><a asp-controller="Card" asp-action="Index" class="btn btn-primary expert-button">Manage Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div style="margin:5%;">
        @RenderBody()
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- temp -->
    <!-- Java Script -->

    <script src="~/assest/js/jquery-1.12.4.min.js"></script>
    <!-- <script src="catalog/view/assets/js/vendor.min.js"></script> -->

    <script src="~/assest/js/bootstrap.bundle.min.js"></script>

    <script src="~/assest/js/gsap.min.js"></script>
    <script src="~/assest/js/TweenMax.min.js"></script>
    <script src="~/assest/js/ScrollTrigger.min.js"></script>
    <script src="~/assest/js/ScrollToPlugin.min.js"></script>
    <script src="~/assest/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assest/js/slide-menu.js"></script>
    <script type="text/javascript" src="~/assest/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="~/assest/js/jquery.fancybox.min.js"></script>

    <script src="~/assest/js/wow.min.js"></script>



    <!-- Performance Slider -->
    <link href="~/assest/css/number-pb.css" rel="stylesheet" type="text/css">
    <script src="~/assest/js/jquery.velocity.min.js"></script>
    <script src="~/assest/js/number-pb.js"></script>

    <script type="text/javascript" src="~/assest/js/main.js"></script>




    <script src="~/assest/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/assest/js/form-validation.js"></script>


    <!-- Java Script -->

    <script src="~/assest/js/jquery-1.12.4.min.js"></script>
    <!-- <script src="catalog/view/assets/js/vendor.min.js"></script> -->

    <script src="~/assest/js/bootstrap.bundle.min.js"></script>

    <script src="~/assest/js/gsap.min.js"></script>
    <script src="~/assest/js/TweenMax.min.js"></script>
    <script src="~/assest/js/ScrollTrigger.min.js"></script>
    <script src="~/assest/js/ScrollToPlugin.min.js"></script>
    <script src="~/assest/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assest/js/slide-menu.js"></script>
    <script type="text/javascript" src="~/assest/js/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="~/assest/js/jquery.fancybox.min.js"></script>

    <script src="~/assest/js/wow.min.js"></script>



    <!-- Performance Slider -->
    <link href="~/assest/css/number-pb.css" rel="stylesheet" type="text/css">
    <script src="~/assest/js/jquery.velocity.min.js"></script>
    <script src="~/assest/js/number-pb.js"></script>

    <script type="text/javascript" src="~/assest/js/main.js"></script>




    <script src="~/assest/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/assest/js/form-validation.js"></script>

    <script src="js/typed.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    <script src="~/assest/js/typed.min.js"></script>
    <script src="~/assest/js/angular.min.js"></script>
    <script src="~/assest/js/jquery-ui.min.js"></script>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
