@{
    Layout = "~/Views/Shared/User.cshtml";
}
@model List<DoctorPC_Web.Models.cards>

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
 @foreach (var item in Model) {
<div>
    <h4>card</h4>
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            Product Name 
        </dt>
        <dd class = "col-sm-10">
            @item.cname
        </dd>
        <dt class = "col-sm-2">
            Product Price
        </dt>
        <dd class = "col-sm-10">
           @item.cprice
        </dd>
        <dt class = "col-sm-2">
            Quantity
        </dt>
        <dd class = "col-sm-10">
            @item.contity
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@item.cid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Home" asp-action="ViewMyCart">Back to List</a>
    </form>
</div>
}