@{
    Layout = "~/Views/Shared/User.cshtml";
}
@{
    ViewData["Title"] = "Home Page";
}


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6Z4WT6"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<nav class="slide-menu" id="hb-menu">
    <div class="controls">
        <button type="button" class="btn slide-menu__control" data-action="close"><i class="flaticon-cancel"></i> <span class="ms-2">Close</span> </button>
    </div>


    <br>
    <ul class="primary-nav">

        <li>
            <a href="upgrade.html">Upgrades</a>
        </li>
        <li><a href="Guide.html">First Time Buyers</a></li>
    </ul>
</nav>
<main>
    <div id="notification"></div>
    <div class="container-fluid product-page-container prebuild-product-page">
        <div class="row">

            <div id="save_product_1"><input type="hidden" name="save_product" id="save_product" value="1"></div>
            <form name="form1" id="form1" method="POST" style="display:inline ;">
                <div class="col-md-7" id="product">
                    <input class="idcustombuild" type="hidden" id="input-option311" name="option[311]" value="Custom Build">
                    <input type="hidden" name="id">

                    <input type="hidden" id="input-quantity" name="quantity" value="1">
                    <input type="hidden" name="cmd" value>
                    <input type="hidden" name="platform" value>
                    <input type="hidden" name="product_id" value="53">


                    <input type="hidden" name="selected_id[13]" value>
                    <input type="hidden" name="selected_id[15]" value>
                    <input type="hidden" name="selected_id[16]" value>
                    <input type="hidden" name="selected_id[20]" value>
                    <input type="hidden" name="selected_id[17]" value>
                    <input type="hidden" name="selected_id[21]" value>
                    <input type="hidden" name="selected_id[14]" value>
                    <input type="hidden" name="selected_id[18]" value>
                    <input type="hidden" name="selected_id[19]" value>
                </div>
            </form>

            <map name="cpu_map" id="cpu_map" class="responsive-map" data-width="328" data-height="357">
                <area href="javascript:show_modal_using_id(21)" shape="poly" data-original-coords="10,22,326,16,327,40,10,40" coords="0.4878048780487805,0.9859943977591037,14.61064425770308,0.7804878048780488,14.655462184873949,1.792717086834734,0.4878048780487805,1.792717086834734">
                <area href="javascript:show_modal_using_id(21)" shape="poly" data-original-coords="210,12,325,16,324,338,216,345" coords="10.24390243902439,0.5378151260504201,14.565826330532213,0.7804878048780488,14.521008403361344,15.1484593837535,10.536585365853659,15.46218487394958">
                <area href="javascript:show_modal_using_id(21)" shape="poly" data-original-coords="11,305,324,320,324,350,10,329" coords="0.5365853658536586,13.669467787114845,14.521008403361344,15.609756097560975,14.521008403361344,15.686274509803921,0.4878048780487805,14.745098039215687">
                <area href="javascript:show_modal_using_id(21)" shape="poly" data-original-coords="12,34,71,58,69,156,85,157,85,172,45,175,43,194,86,196,84,244,22,249,25,303,11,300" coords="0.5853658536585367,1.5238095238095237,3.182072829131653,2.829268292682927,3.092436974789916,6.991596638655462,4.146341463414634,7.03641456582633,3.8095238095238098,8.390243902439025,2.0168067226890756,7.8431372549019605,2.097560975609756,8.694677871148459,3.854341736694678,9.560975609756097,3.764705882352941,10.935574229691877,1.0731707317073171,11.159663865546218,1.1204481792717087,14.78048780487805,0.49299719887955185,13.445378151260504">

                <area href="javascript:show_modal_using_id(13)" shape="poly" data-original-coords="105,88,142,89,144,142,106,140" coords="5.121951219512195,3.9439775910364148,6.364145658263306,4.341463414634147,6.453781512605042,6.364145658263306,5.170731707317073,6.2745098039215685">
                <area href="javascript:show_modal_using_id(20)" shape="poly" data-original-coords="45,170,90,170,183,193,44,193" coords="2.1951219512195124,7.6190476190476195,4.033613445378151,8.292682926829269,8.201680672268907,8.64985994397759,2.1463414634146343,8.64985994397759">
                <area href="javascript:show_modal_using_id(14)" shape="poly" data-original-coords="49,41,188,36,188,54,49,56" coords="2.3902439024390243,1.8375350140056022,8.42577030812325,1.7560975609756098,8.42577030812325,2.4201680672268906,2.3902439024390243,2.5098039215686274">
                <area href="javascript:show_modal_using_id(19)" shape="poly" data-original-coords="168,237,217,237,217,255,169,257" coords="8.195121951219512,10.621848739495798,9.72549019607843,11.560975609756097,9.72549019607843,11.428571428571429,8.24390243902439,11.518207282913165">

                <area href="javascript:show_modal_using_id(15)" shape="poly" data-original-coords="181,63,207,63,205,176,168,172,167,161,185,158,183,74,179,96" coords="8.829268292682928,2.823529411764706,9.277310924369749,3.073170731707317,9.18767507002801,7.8879551820728295,8.195121951219512,7.708683473389356,7.484593837535014,7.853658536585366,8.291316526610645,7.081232492997199,8.926829268292684,3.316526610644258,8.022408963585434,4.682926829268293">
                <area href="javascript:show_modal_using_id(15)" shape="poly" data-original-coords="191,179,204,179,204,234,178,234,164,246,87,246,87,196,159,197,187,193,194,183" coords="9.317073170731708,8.022408963585434,9.142857142857142,8.731707317073171,9.142857142857142,10.487394957983193,8.682926829268293,10.487394957983193,7.350140056022409,12,3.899159663865546,11.025210084033613,4.2439024390243905,8.784313725490197,7.126050420168068,9.609756097560975,8.380952380952381,8.64985994397759,9.463414634146341,8.201680672268907">
                <area href="javascript:show_modal_using_id(15)" shape="poly" data-original-coords="73,67,148,66,117,93,115,136,150,139,153,152,118,152,75,157" coords="3.5609756097560976,3.0028011204481793,6.633053221288516,3.2195121951219514,5.243697478991597,4.168067226890757,5.609756097560976,6.095238095238095,6.722689075630252,6.780487804878049,6.857142857142857,6.812324929971989,5.7560975609756095,6.812324929971989,3.361344537815126,7.658536585365854">

                <area href="javascript:show_modal_using_id(17)" shape="poly" data-original-coords="26,253,236,253,235,319,23,305" coords="1.2682926829268293,11.338935574229692,10.57703081232493,12.341463414634147,10.532212885154062,14.296918767507004,1.1219512195121952,13.669467787114845">
                <area href="javascript:show_modal_using_id(16)" shape="poly" data-original-coords="156,73,184,73,184,155,156,155" coords="7.609756097560976,3.2717086834733893,8.246498599439777,3.5609756097560976,8.246498599439777,6.946778711484594,7.609756097560976,6.946778711484594">
                <area href="javascript:show_modal_using_id(18)" shape="poly" data-original-coords="118,152,158,151,160,168,118,169" coords="5.7560975609756095,6.812324929971989,7.081232492997199,7.365853658536586,7.170868347338936,7.529411764705882,5.7560975609756095,7.57422969187675">

            </map>

            <script>
                window.addEventListener('resize', resizeImageMaps);
                function resizeImageMaps() {
                    const maps = document.querySelectorAll('.responsive-map');
                    maps.forEach((map) => {
                        const width = parseInt(map.getAttribute('data-width'));
                        const height = parseInt(map.getAttribute('data-height'));
                        const image = document.querySelector(`img[usemap="#${map.getAttribute('name')}"]`);
                        const scaleWidth = image.clientWidth / width;
                        const scaleHeight = image.clientHeight / height;
                        const areas = map.querySelectorAll('area');
                        areas.forEach((area) => {
                            const originalCoords = area.getAttribute('data-original-coords');
                            if (!originalCoords) {
                                area.setAttribute('data-original-coords', area.coords);
                            }
                            const coords = originalCoords.split(',').map((coord, index) => {
                                return index % 1.5 === 0 ? parseInt(coord) * scaleWidth : parseInt(coord) * scaleHeight;
                            });
                            area.coords = coords.join(',');
                        });
                    });
                }
                document.addEventListener('DOMContentLoaded', resizeImageMaps);
            </script>
            <section class="find-pc build-pc">

                <div class="container-fluid layout-fixed">

                    <div class="build-pc-wrapper">

                        <div class="build-pc-container">
                            <div class="content">
                                <div class="section-head">
                                    <h1>Build A PC</h1>
                                    <p>Build your dream PC at the best price possible with theMVP configurator, our custom PC builder. Choose every part of your computer, experiment with different configurations and budgets, and download an instant quote. Assemble your perfect desktop PC in just a few clicks and get a tailored basic, gaming, or professional rig.</p>
                                </div>

                                <div class="section-body">

                                    <div class="configure-pc">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-7">
                                                <div class="configure-pc-container">
                                                    <div class="cpu-container">
                                                        <img src="~/assest/images/cpu.png" class="cpu" usemap="#cpu_map">
                                                        <div class="overlay_div">

                                                            <div id="part_cabinet" onclick="show_modal('Choose Case')" class="component"></div>
                                                            <div id="part_cpu" onclick="show_modal('Choose CPU')" class="component"></div>
                                                            <div id="part_cpu_cooler" onclick="show_modal('Choose CPU COOLER')" class="component"></div>
                                                            <div id="part_graphic_card" onclick="show_modal('Choose GPU')" class="component"></div>
                                                            <div id="part_hdd" onclick="show_modal('Choose HDD')" class="component"></div>
                                                            <div id="part_motherboard" onclick="show_modal('Choose Motherboard')" class="component"></div>
                                                            <div id="part_power_supply" onclick="show_modal('Choose SMPS')" class="component"></div>
                                                            <div id="part_ram" onclick="show_modal('Choose RAM')" class="component"></div>
                                                            <div id="part_ssd" onclick="show_modal('Choose SSD')" class="component"></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-lg-5">
                                                <div class="innerWhite">
                                                    <div class="ui-tabs">
                                                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                                            <li class="nav-item" role="presentation">
                                                                <a class="nav-link active" id="btnPlatform" data-bs-toggle="pill" data-bs-target="#cpc-platform" type="button" role="tab" aria-controls="tab-cpc-platform" aria-selected="true"> <span>Platform</span> <img class="icon icon__medium" src="~/assest/fonts/Platform.svg"></a>
                                                            </li>
                                                            <li class="nav-item" role="presentation">
                                                                <a class="nav-link" id="btnComponents" disabled data-bs-toggle="pill" data-bs-target="#cpc-components" type="button" role="tab" aria-controls="tab-cpc-components" aria-selected="false"><span>Components</span> <img class="icon icon__medium" src="~/assest/fonts/RAM.svg"></a>
                                                            </li>

                                                        </ul>
                                                        <div class="tab-content" id="pills-tabContent">
                                                            <div class="tab-pane fade active show" id="cpc-platform" role="tabpanel" aria-labelledby="tab-cpc-platform">

                                                                <div class="choose-platform">
                                                                    <div class="p-1" id="mainContainer">
                                                                        <h4>Choose Platform</h4>
                                                                        <div class="cps-start-selection" >
                                                                            <div class="form-check form-check-inline">
                                                                                <input type="radio" class="form-check-input" name="platform" value="amd">
                                                                                <label class="form-check-label">AMD</label>
                                                                            </div>
                                                                            <div class="form-check form-check-inline">
                                                                                <input type="radio" class="form-check-input" name="platform" value="intel">
                                                                                <label class="form-check-label">INTEL</label>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                        <button class="btn btn-light " id="platformNext">Add</button>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    


                                    <div id="SelectedSpecs" class="pcs build-result" >
                                        <h3>Your Build</h3>
                                        <div class="product">

                                            <div class="row g-4">
                                                <div class="col-md-4 col-lg-3">
                                                    <div class="customized-pc-preview">
                                                        <img id="caseImage" style="width: 100%;" src="~/assest/images/cpu.png">
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-lg-9">
                                                    <div class="ui-tabs">
                                                        <ul class="nav" id="pills-tab" role="tablist">
                                                            <li class="nav-item" role="presentation">
                                                                <a class="nav-link active" id="tab-pc-specs" data-bs-toggle="pill" data-bs-target="#pc-specs" type="button" role="tab" aria-controls="tab-pc-specs" aria-selected="true"><img class="icon icon__medium" src="~/assest/images/icon-specs.png"> <span>See Specs</span></a>
                                                            </li>
                                                            <li class="nav-item" role="presentation">
                                                                <a class="nav-link" id="tab-pc-performance" data-bs-toggle="pill" data-bs-target="#pc-performance" type="button" role="tab" aria-controls="tab-pc-performance" aria-selected="false"><img class="icon icon__medium" src="~/assest/images/icon-performance.png"><span>See Performance</span></a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content" id="pills-tabContent">
                                                            <div class="tab-pane fade active show" id="pc-specs" role="tabpanel" aria-labelledby="tab-pc-specs">

                                                                <div class="pc-specs key-features" id="ownpc">
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/Platform.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Platform</span>
                                                                            <ul class="spec-list">
                                                                                <li id="platform" data-name>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/CPU.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Cpu</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_13" data-name data-sku>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/GPU.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Gpu</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_20" data-name data-sku>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/Case.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Case</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_21" data-name>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/Motherboard.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Motherboard</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_15" data-name>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/CPU-Cooler.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Cpu Cooler</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_14" data-name>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/SMPS.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Smps</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_17" data-name>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/RAM.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">RAM</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_16" data-name>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/Storage.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">SSD</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_18" data-name>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>

                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="~/assest/fonts/Storage.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">HDD</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_19" data-name>Select</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                            <div class="tab-pane fade" id="pc-performance" role="tabpanel" aria-labelledby="tab-pc-performance">
                                                                <div class="pc-specs key-features">
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Cinebench score</span>
                                                                            <ul class="spec-list">
                                                                                <li id="cinebench"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">3DS Mark score</span>
                                                                            <ul class="spec-list">
                                                                                <li id="3ds_mark"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Wattage</span>
                                                                            <ul class="spec-list">
                                                                                <li id="wattage"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Wifi</span>
                                                                            <ul class="spec-list">
                                                                                <li id="wifi"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Bluetooth</span>
                                                                            <ul class="spec-list">
                                                                                <li id="bluetooth"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Lighting</span>
                                                                            <ul class="spec-list">
                                                                                <li id="lighting"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Fan Control</span>
                                                                            <ul class="spec-list">
                                                                                <li id="fan_control"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Front Ports</span>
                                                                            <ul class="spec-list">
                                                                                <li id="front_ports"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Rear Ports</span>
                                                                            <ul class="spec-list">
                                                                                <li id="rear_ports"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Dimensions</span>
                                                                            <ul class="spec-list">
                                                                                <li id="dimensions"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Weight</span>
                                                                            <ul class="spec-list">
                                                                                <li id="case_weight"></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="tab-pane fade" id="pc-fps-score" role="tabpanel" aria-labelledby="tab-pc-fps-score">
                                                                <div class="fps-score">
                                                                    <div class="row row-cols-1 row-cols-md-4 g-4">
                                                                    </div>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </section>

            <div class="modal fade modal-choose-components" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalTitle">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="mdbody">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btnNav" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btnNav">Select</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>


<div class="modal fade" id="GlobalSearchModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="GlobalSearchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen searchmodal-fullscreen">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <form class="d-flex mb-5">
                                <input class="form-control me-2" id="prod_search" value type="search" placeholder="Search" aria-label="Search" autocomplete="off">
                                <button class="btn btn-primary" type="button" id="submit_search">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">

                            <div class="my-4">
                                <small class="text-uppercase text-muted" style="font-size: 11px">Best Selling</small>



                                <ul class="search-suggestions-nav" style>
                                    <li>
                                        <a href="#">Upgrage your PC</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>

                                </ul>
                            </div>





                        </div>
                    </div>




                </div>

            </div>

        </div>
    </div>
</div>

<!--js script-->
<script>
    var selectedPlatform, selectedCPU, selectedGPU, selectedCase, selectedMotherboard, selectedCPUC, selectedSMPS, selectedRAM, selectedSSD, selectedHDD;

    $(document).on('click', '#platformNext', function () 
    {

        selectedPlatform = $("input[name='platform']:checked").val();

        if (selectedPlatform == "AMD" || selectedPlatform == "Amd" || selectedPlatform == "amd") {
            $('#mainContainer').html(`
                    <h4>Choose CPU</h4>
                    <div class="cps-start-selection" >
                             <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="cpu" value="ryzen3">
                                    <label class="form-check-label">Ryzen 3</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input type="radio" class="form-check-input" name="cpu" value="ryzen5">
                                    <label class="form-check-label">ryzen 5</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input type="radio" class="form-check-input" name="cpu" value="ryzen7">
                                    <label class="form-check-label">ryzen 7</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input type="radio" class="form-check-input" name="cpu" value="ryzen9">
                                    <label class="form-check-label">ryzen 9</label>
                             </div> 
                    </div>
                    <button class="btn btn-light mt-3" id="cpuNext">Add</button>
                `);
        } else if(selectedPlatform == "INTEL" || selectedPlatform == "Intel" || selectedPlatform == "intel") {
            $('#mainContainer').html(`
                        <h4>Choose CPU</h4>
                        <div class="cps-start-selection" >
                                 <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="cpu" value="i3">
                                        <label class="form-check-label">i3</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                     <input type="radio" class="form-check-input" name="cpu" value="i5">
                                        <label class="form-check-label">i5</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                     <input type="radio" class="form-check-input" name="cpu" value="i7">
                                        <label class="form-check-label">i7</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                     <input type="radio" class="form-check-input" name="cpu" value="i9">
                                        <label class="form-check-label">i9</label>
                                 </div>
                        </div>
                        <button class="btn btn-light mt-3" id="cpuNext">Add</button>
                `);
        } else {
            alert('Please select a platform.');
        }



    });

    $(document).on('click', '#cpuNext', function () 
    {
        selectedCPU = $("input[name='cpu']:checked").val();

        if (selectedCPU) {
            $('#mainContainer').html(`
                        <h4>Choose Case</h4>
                        <div class="cps-start-selection" >
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="case" value="Corsair">
                                <label class="form-check-label">Corsair</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="case" value="NZXT">
                                <label class="form-check-label">NZXT</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="case" value="Fractal Design">
                                <label class="form-check-label">Fractal Design</label>
                            </div>
                        </div>
                        <button class="btn btn-light mt-3" id="caseNext">Add</button>
                    `);
        } else {
            alert('Please select a CPU.');
        }
    });

    $(document).on('click', '#caseNext', function () 
    {
        selectedCase = $("input[name='case']:checked").val();

        if (selectedCase) {
            $('#mainContainer').html(`
                        <h4>Choose Motherboard</h4>
                        <div class="cps-start-selection" >
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="motherboard" value="Asus">
                                <label class="form-check-label">Asus</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="motherboard" value="Gigabyte">
                                <label class="form-check-label">Gigabyte</label>
                            </div>
                        </div>
                        <button class="btn btn-light mt-3" id="motherboardNext">Add</button>
                    `);
        } else {
            alert('Please select a case.');
        }
    });

    $(document).on('click', '#motherboardNext', function () {
        selectedMotherboard = $("input[name='motherboard']:checked").val();

        if(selectedMotherboard) {
            $('#mainContainer').html(`
                        <h4>Choose GPU</h4>
                        <div class="cps-start-selection" >
                            <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="gpu" value="NVIDIA GeForce RTX 3080">
                                <label class="form-check-label">NVIDIA GeForce RTX 3080</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gpu" value="AMD Radeon RX 6800 XT">
                                <label class="form-check-label">AMD Radeon RX 6800 XT</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="gpu" value="NVIDIA GeForce GTX 1660 Ti">
                                <label class="form-check-label">NVIDIA GeForce GTX 1660 Ti</label>
                            </div>
                        </div>
                        <button class="btn btn-light mt-3" id="gpuNext">Add</button>
                    `);
        } else {
            alert('Please select a GPU.');
        }

    });

    $(document).on('click', '#gpuNext', function () {
        selectedGPU = $("input[name='gpu']:checked").val();
        if(selectedGPU) {
            $('#mainContainer').html(`
                        <h4>Choose CPU Cooler</h4>
                        <div class="cps-start-selection" >
                            <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="cpuc" value="Noctua NH-D15">
                                <label class="form-check-label">Noctua NH-D15</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="cpuc" value="Corsair Hydro Series H115i RGB Platinum">
                                <label class="form-check-label">Corsair Hydro Series H115i RGB Platinum</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="cpuc" value="Cooler Master Hyper 212 RGB Black Edition">
                                <label class="form-check-label">Cooler Master Hyper 212 RGB Black Edition</label>
                            </div>
                        </div>
                        <button class="btn btn-light mt-3" id="cpucNext">Add</button>
            `);
        } else {
            alert('Please select a CPU COOLER.');
        }
    });

    $(document).on('click', '#cpucNext', function () {
        selectedCPUC = $("input[name='cpuc']:checked").val();

        if(selectedCPUC) {
            $('#mainContainer').html(`
                        <h4>Choose SMPS</h4>
                        <div class="cps-start-selection" >
                            <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="smps" value="EVGA SuperNOVA 850 G3">
                                <label class="form-check-label">EVGA SuperNOVA 850 G3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="smps" value="Corsair RM850x">
                                <label class="form-check-label">Corsair RM850x</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" name="smps" value="Seasonic Focus GX-650">
                                <label class="form-check-label">Seasonic Focus GX-650</label>
                            </div>
                        </div>
                        <button class="btn btn-light mt-3" id="smpsNext">Add</button>
            `);
        } else {
            alert('Please select a SMPS.');
        }
    });

    $(document).on('click', '#smpsNext', function () {
        selectedSMPS = $("input[name='smps']:checked").val();

        if (selectedSMPS) {
            $('#mainContainer').html(`
                            <h4>Choose RAM</h4>
                            <div class="cps-start-selection" >
                                <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="ram" value="Corsair Vengeance LPX DDR4">
                                    <label class="form-check-label">Corsair Vengeance LPX DDR4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="ram" value="G.SKILL Ripjaws V Series DDR4">
                                    <label class="form-check-label">G.SKILL Ripjaws V Series DDR4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" name="ram" value="Crucial Ballistix Elite DDR4">
                                    <label class="form-check-label">Crucial Ballistix Elite DDR4</label>
                                </div>
                            </div>
                            <button class="btn btn-light mt-3" id="ramNext">Add</button>
                `);
        } else {
            alert('Please select a RAM.');
        }
    });

    $(document).on('click', '#ramNext', function () {
        selectedRAM = $("input[name='ram']:checked").val();

        if (selectedRAM) {
            $('#mainContainer').html(`
                                <h4>Choose SSD</h4>
                                <div class="cps-start-selection" >
                                    <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="ssd" value="Samsung 970 EVO Plus">
                                        <label class="form-check-label">Samsung 970 EVO Plus</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="ssd" value="Crucial MX500">
                                        <label class="form-check-label">Crucial MX500</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="ssd" value="Western Digital Blue 3D NAND">
                                        <label class="form-check-label">Western Digital Blue 3D NAND</label>
                                    </div>
                                </div>
                                <button class="btn btn-light mt-3" id="ssdNext">Add</button>
                    `);
        } else {
            alert('Please select a SSD.');
        }
    });

    $(document).on('click', '#ssdNext', function () {
        selectedSSD = $("input[name='ssd']:checked").val();

        if (selectedSSD) {
            $('#mainContainer').html(`
                                    <h4>Choose SSD</h4>
                                    <div class="cps-start-selection" >
                                        <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" name="hdd" value="Seagate Barracuda">
                                            <label class="form-check-label">Seagate Barracuda</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="hdd" value="Western Digital WD Blue">
                                            <label class="form-check-label">Western Digital WD Blue</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="hdd" value="Toshiba P300">
                                            <label class="form-check-label">Toshiba P300</label>
                                        </div>
                                    </div>
                                    <button class="btn btn-light mt-3" id="hddNext">Add</button>
                        `);
        } else {
            alert('Please select a HDD.');
        }
    });

    $(document).on('click', '#hddNext', function () {
        selectedHDD = $("input[name='hdd']:checked").val();

        if (selectedHDD) {
            $('#mainContainer').html(`
                <h4> Your Build Successfully ! </h4>
                    <button class="btn btn-light" id="successfully">Ok</button>
            `);
            $('#ownpc').html(`
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/Platform.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Platform</span>
                                                                            <ul class="spec-list">
                                                                                    <li id="platform" data-name>${selectedPlatform}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/CPU.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Cpu</span>
                                                                            <ul class="spec-list">
                                                                                    <li id="part_13" data-name data-sku>${selectedCPU}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/GPU.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Gpu</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_20" data-name data-sku>${selectedGPU}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/Case.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Case</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_21" data-name>${ selectedCase }</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/Motherboard.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Motherboard</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_15" data-name>${ selectedMotherboard }</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/CPU-Cooler.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Cpu Cooler</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_14" data-name>${selectedCPUC}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/SMPS.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">Smps</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_17" data-name>${selectedSMPS}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/RAM.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">RAM</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_16" data-name>${selectedRAM}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/Storage.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">SSD</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_18" data-name>${selectedSSD}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>

                                                                    <div class="spec-item">
                                                                        <div class="icon-col">
                                                                            <img class="icon icon__large" src="assest/fonts/Storage.svg">
                                                                        </div>
                                                                        <div class="content-col">
                                                                            <span class="spec-title">HDD</span>
                                                                            <ul class="spec-list">
                                                                                <li id="part_19" data-name>${selectedHDD}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
            `);
        } else {
            alert('Please select a HDD.');
        }
    });

    $(document).on('click', '#successfully', function () {
        $('#mainContainer').html(`
                    <h4>Choose Platform</h4>
                    <div class="cps-start-selection">
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="platform" value="amd">
                            <label class="form-check-label">AMD</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="platform" value="intel">
                            <label class="form-check-label">INTEL</label>
                        </div>
                    </div>
                    <button class="btn btn-light" id="platformNext">Add</button>
        `);
    });
    
</script>